body{
    background-color: #000000;
    background-image: url(../src/img/pngegg\ \(8\).png);
    background-size: cover;
}
.contenedor_principal{
    margin: 15px;
}
.color_principal {
    background-color: rgba(65, 49, 104, 0.5);
    margin: auto;
    width: 95%;
}

.img_foto_perfil{
    border-radius: 50%; 
    width: 200px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.7); /* Sombra neón */
    border: 5px solid rgba(0, 255, 255, 0.8); /* Borde de neón */
    transition: all 0.3s ease;
}

.img_foto_perfil:hover{
    box-shadow: 0 0 25px 10px rgba(0, 255, 255, 1); /* Aumenta el resalte en hover */
    transform: scale(1.05);
}
.text_descripcion_perfil{
    padding: 5%;
    background-color: rgba(49, 64, 104, 0.9);
    border-radius: 15% 3% 15% 3%;
}
.text_HA{
    padding: 5%;
    background-color: rgba(49, 99, 104, 0.9);
    border-radius: 15% 3% 15% 3%;
}
.text_HD{
    padding: 5%;
    background-color: rgba(73, 49, 104, 0.9);
    border-radius: 15% 3% 15% 3%;
}

.fondo_derecho{
    margin-top: 2%;
    padding: 5%;
    background-color: rgba(49, 104, 99, 0.9);
    border-radius: 2% 2% 2% 2%;
}

